main{
  display: flex;
  padding-left: 17rem;
  padding-top: 4.3rem;
}

.main-two{
  border-top-left-radius: 2rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.main-section-container{
  display: grid;
  margin: 1.5rem;
  width: 61rem;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 19rem);
  width: 61rem;
  gap: 1rem;
}

.container{
  background-color: lightblue;
  width: 19.09rem;
  height: 18rem;
  position: relative;
  border-radius: 1rem;
  transition: all 0.15s;
  border: 1px solid rgb(152, 152, 152);
}

.container, .contents span, .prof-image{
  cursor: pointer;
}

.container:hover{
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.20);
}

.contents span:nth-child(1):hover, .contents span:nth-child(2):hover,
.contents .name span:nth-child(1):hover{
  text-decoration: underline;
}

.contents span{
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.contents span:nth-child(1){
  font-size: 1.5rem;
  font-weight: Light 300;
  margin-top: 1rem;
}

.contents span:nth-child(2){
  font-size: 0.85rem;
  font-weight: 500;
}

.contents .name span:nth-child(1){
  font-size: 0.75rem;
  font-weight: 450;
  margin-top: 0.5rem;
}

.contents span:nth-child(1), .contents span:nth-child(2), .contents .name span:nth-child(1){
  font-family: "Sansation", "Montserrat", "Roboto";
}

.prof-image{
  content: "";
  position: absolute;
  width: 4rem;
  border-radius: 1.8rem;
  z-index: 1;
  top: 4rem;
  left: 14rem;
}

.front-info, .container-nav{
  width: 19rem;
  position: absolute;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  bottom: 0;
}

.front-info{
  height: 12rem;
  background-color: white;
}

.container-nav{
  height: 3.5rem;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  border-top: 1px solid rgb(152, 152, 152);
}

.container-nav img{
  display: flex;
  width: 1.3rem;
}

.container-nav img:nth-child(3){
  margin-right: 1rem;
}

.container-nav img:nth-child(2){
  margin-right: 1.8rem;
}